<div class='descriptionHeader'>
	<h1><span>Que des plats</span> Délicieux</h1>
	<p class='descript'>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit.
		Nesciunt ab officiis est tempora illum ducimus molestias magni
		provident! Fugit magni ipsa tempora iure rem reiciendis totam
		iste exercitationem officiis. Fugit.
	</p>
</div>