<aside>
	<h1 class='titre'>Tableau de bord</h1>
	<ul class='admin-navigation'>
		<a href='/admin/commandes' class='section'>
			<img src='/images/command.png' alt='logo' />
			<li class=''>Commandes</li>
		</a>

		<a href='/admin/clients' class='section'>
			<img src='/images/client.png' alt='logo' />
			<li class=''>Clients</li>
		</a>
		<a href='/admin/menus' class='section'>
			<img src='/images/menus.png' alt='logo' />
			<li class=''>Menus</li>
		</a>

		<a href='/admin/personnel' class='section'>
			<img src='/images/personnes.png' alt='logo' />
			<li class=''>Personnel</li>
		</a>
	</ul>
</aside>