<aside>
	<a href='/home' class='titre-tab'>
		<img src='/images/home.png' alt='logo' />
		<h1>Home</h1>
	</a>
	<ul class='admin-navigation'>

		<a href='/admin' class='section'>
			<img src='/images/icon-paiement.png' alt='logo' />
			<li>Paiements</li>
		</a>
		<a href='/admin/utilisateurs' class='section'>
			<img src='/images/client.png' alt='logo' />
			<li>Utilisateurs</li>
		</a>
		<a href='/admin/commandes' class='section'>
			<img src='/images/command.png' alt='logo' />
			<li>Commandes</li>
		</a>
		<a href='/admin/menus' class='section'>
			<img src='/images/menus.png' alt='logo' />
			<li>Menus</li>
		</a>
		<a href='/admin/fournisseur' class='section'>
			<img src='/images/fournisseur.png' alt='logo' />
			<li>Fournisseur</li>
		</a>

	</ul>
</aside>