<footer id='contact'>
	<div class='footer-container'>
		<div class='retrouver-moi'>
			<h3>Retrouvez-nous sur</h3>
			<a href=''>
				<img class='social' src='/images/facebook.png' alt='icon facebook' />
			</a>
			<a href=''>
				<img class='social' src='/images/insta.png' alt='icon intagram' />
			</a>
			<a href=''>
				<img class='social' src='/images/twintter.png' alt='icon tiktok' />
			</a>
		</div>
		<div class='Contact'>
			<h3>Contact</h3>
			<div class='address'>
				<img src='/images/lieu.png' alt='lieu' />
				<span>Rue Daniel-Johnson</span>
			</div>
			<div class='telephone'>
				<img src='/images/phonepng.png' alt='phone' />
				<span>+1 (819) 223 6438</span>
			</div>
			<div class='email'>
				<img src='/images/mail.png' alt='lieu' />
				<span> Envoyer un Mail</span>
			</div>
		</div>
		<div class='liens-utiles'>
			<h3>Liens utiles</h3>
			<a href='#'>Menions légales</a>
			<a href='#'>Conditions Générales</a>
			<a href='#'>Partenaires</a>
		</div>
		<div class='profiles'>
			<h3>Profiles</h3>
			<a href=''><img class='social' src='/images/git.png' alt='icon facebook' /> </a>
			<a href=''>
				<img class='social' src='/images/link.png' alt='icon intagram' />
			</a>

		</div>
	</div>
	<p>&copy; 2023 - Tous droits réservés</p>
</footer>