<header id='fleche'>
	<div class='search'>
		<input type='search' name='' id='search' placeholder='Recherche' />
		<img src='./images/search.png' alt='icon search' />
	</div>
	<nav class='nav'>
		<input type='checkbox' id='nav-checkbox' class='nav-checkbox' />
		<label for='nav-checkbox' class='toggle'>
			<img src='./images/menu.png' alt='menu' class='menu' />
			<img src='./images/close.png' alt='menu close' class='close' />
		</label>

		<div>
			<a href='#'>
				<img src='./images/veraaLogo.png' alt='logo' class='logo' />
			</a>

		</div>
		<ul class='menu'>
			<li class='lien'><a href='#'>Accueil</a></li>
			<li class='lien'><a href='#'>Apropos</a></li>
			<li class='lien'><a href='#'>Menu</a></li>
			<li class='lien'><a href='#'>Contact</a></li>
			<li class='lien'><a href='#'>Temoignage</a></li>
			<li class='lien'><a href='#'>Connexion</a></li>
			<li class='lien'><a href='#'>ENG</a></li>
			<li class='Reservation'><a href='#'>Reservation</a></li>
		</ul>

	</nav>
</header>