<form>
  <label for="name">Nom:</label>
  <input type="text" id="name" name="name"><br><br>
  
  <label for="street_address">Adresse de rue:</label>
  <input type="text" id="street_address" name="street_address"><br><br>
  
  <label for="city">Ville:</label>
  <input type="text" id="city" name="city"><br><br>
  
  <label for="province">Province:</label>
  <select id="province" name="province">
    <option value="Alberta">Alberta</option>
    <option value="British Columbia">British Columbia</option>
    <option value="Manitoba">Manitoba</option>
    <option value="New Brunswick">New Brunswick</option>
    <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="Ontario">Ontario</option>
    <option value="Prince Edward Island">Prince Edward Island</option>
    <option value="Quebec">Quebec</option>
    <option value="Saskatchewan">Saskatchewan</option>
  </select><br><br>
  
  <label for="postal_code">Code postal:</label>
  <input type="text" id="postal_code" name="postal_code"><br><br>
  
  <input type="submit" value="Submit">
</form> 
