<div class="contenuAdmin">

    {{>admin_navigation}}
    <div class='tableaux'>
        <div class="titreComm">
            <h1 class="">Commandes</h1>
        </div>
        <div class="tableau">
            <div class="titre">
                <h3>N°</h3>
                <h3>Nom</h3>
                <h3>Prix</h3>
                <h3>Source</h3>
                <h3>Description</h3>
                <h3>Action</h3>
            </div>
            <div class="contenuTable">
                <p>1</p>
                <p>Nom command</p>
                <p>Prix</p>
                <p>Source</p>
                <p>Description</p>
                <button>supprimer</button>

            </div>
            <div class="contenuTable">
                <p>2</p>
                <p>Nom command</p>
                <p>Prix</p>
                <p>Source</p>
                <p>Description</p>
                <button>supprimer</button>


            </div>
            <div class="contenuTable">
                <p>3</p>
                <p>Nom command</p>
                <p>Prix</p>
                <p>Source</p>
                <p>Description</p>
                <button>supprimer</button>

            </div>
        </div>
    </div>
            
</div>