<section>
	<form action='/inscription' id='form-ajouter' novalidate>
		{{! <img src='/images/veraaLogo.png' alt='logo vera pasta' /> }}
		<img src='/images/logoVera2.png' alt='logo vera pasta' />
		<h2>Inscription</h2>
		<label for='input-nom'>
			<input type='text' id='input-nom' required />
			<p>Nom</p>
		</label>
		<div id='erreur-nom' class='erreur hidden'></div>
		<label for='input-prenom'>
			<input type='text' id='input-prenom' required />
			<p>Prénom</p>
		</label>
		<div id='erreur-prenom' class='erreur hidden'></div>
		<label for='input-courriel'>
			<input type='email' id='input-courriel' required pattern='^(.+)@(.+)$' />
			<p>Email</p>
		</label>
		<div id='erreur-courriel' class='erreur hidden'></div>
		<label for='input-mot_passe'>
			<input type='password' id='input-mot_passe' required />
			<p>Password</p>
		</label>
		<div id='erreur-password' class='erreur hidden'></div>
		<label for='input-mot_passe_confirm'>
			<input type='password' id='input-mot_passe_confirm' required />
			<p>Password-Confirme</p>
		</label>
		<div id='erreur-password-confirm' class='erreur hidden'></div>
		<input type='submit' value='Inscription' />
		<a href='/'>ou connexion</a>
	</form>

</section>