<section>
	<div class='contenu_paiement_vaild'>
		<img src='/images/veraaLogo.png' alt='logo vera pasta' />
		<h1>Paiement effectuer avec succès!</h1>
		<h2>VeraPasta vous rémerci pour votre confiance</h2>
		<p>A très bientôt</p>
		<a href='/home'><img src='/home' alt='' /><img src='/images/home.svg' alt='icon home' /></a>
	</div>
</section>