<div class="contenuAdmin">
    
    {{>admin_navigation}}

    <div class='tableaux'>
        <div class="titreComm">
            <h1 class="text-center">Personnel</h1>
        </div>
        <div class="tableau">
            <div class="titre">
                <h3>N°</h3>
                <h3>Nom</h3>
                <h3>Prénom</h3>
                <h3>Salaire</h3>
                <h3>Fonctions</h3>
                <h3>supprimer</h3>
            </div>
            <div class="contenuTable">
                <p>1</p>
                <p>Doe</p>
                <p>Jhon</p>
                <p>25$/h</p>
                <p>Gérant</p>
                <button>supprimer</button>
            </div>
            <div class="contenuTable">
                <p>1</p>
                <p>Doe</p>
                <p>Jhon</p>
                <p>25$/h</p>
                <p>Gérant</p>
                <button>supprimer</button>
            </div>
        </div>
    </div>

</div>